
html
{
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
}

ul{
  display: flex;
  padding: 0;
}

h1
{
  font-family: 'Roboto', sans-serif;
  color: white;
}

p
{
  font-family: 'Roboto Mono', monospace;
  margin: 10px;
  color: white;
}

.cartas{
  list-style: none;
  width: auto;
  height: auto;
  position: absolute;
  max-width: 300px;
  min-width: 135px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.cartas div
{
  border-style: solid;
  width: auto;
  height: auto;
  box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  border-radius: 10px;
  transition: all, 0.2s;
}

.cartas div:hover
{
  transform: translateY(-10px);
}
.cartas:hover
{
  z-index: 100;
}

.cartas div h1
{
  text-align: center;
}

.cartas div p
{
  text-align: justify;
}

/****************************COLORES********************************************/
.color1
{
  background-color: #b71c1c;
  border-color: #b71c1c;
}
.color1 h1
{
  color: #6d0303;
}
.color2
{
  background-color: #880e4f;
  border-color: #880e4f;
}
.color2 h1
{
  color: #5c0433;
}
.color3
{
  background-color: #4a148c;
  border-color: #4a148c;
}
.color4
{
  background-color: #311b92;
  border-color: #311b92;
}

.color5
{
  background-color: #006064;
  border-color: #006064;
}
.color6
{
  background-color: #ff6f00;
  border-color: #ff6f00;
}
.color6 h1
{
  color: #9b4300;
}
.color7
{
  background-color: #212121;
  border-color: #212121;
}
.color8
{
  background-color: #ff1744;
  border-color: #ff1744;
}
.color9
{
  background-color: #9e00c5;
  border-color: #9e00c5;
}
/********************************************************************************/

@media only screen and (max-width: 400px) {
  .cartas{
    width: 100%;
    max-width: none;
  }
  .cartas div
  {
    max-width: none;
  }
  ul
  {
    display: block;
    width: 100%;
  }
}